*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  /* nav {
    height: 125px;
    width: 100%;
    background-color: white;
  } */
  
  label{
    padding: 100px;
  }
  
  /* nav ul{
    float: right;
    margin-right: 40px;
  }
  
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a{
    color: #505F98;
    font-size: 20px;
    padding:15px;
    border-radius: 3px;
    display: inline-block;
  }
   */
  .cadbut{
    font-size: 20px;
    border-radius: 5px;
    padding: 7px;
    background: #D02525;
    color: white;
    border: none;
  }
  
  .logbut{
    font-size: 20px;
    border-radius: 5px;
    padding: 7px;
    color: #D02525;
    border: none;
  }
  
   .div1, .div2, .div3, .div4{
     /* width: 50%;  */
    margin-top: 300px;
    margin-left: 50px; 
  }
    
  .div1{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
  }
  .div2{
    margin-top: 35px;
    color: #595757;
    font-family: Arial, Helvetica, sans-serif;
  }
  p{
    font-size: 18px;
  }
  
  .div3{
    margin-top: 35px;
    margin-left: 15%;
  }
  .div4{
    margin-top: 150px;
  }
  
  span{
    color: #D02525;
  
  }
  
  .jorneybutton{
    font-size: 20px;
    padding: 10px;
    background: #D02525;
    color: white;
    border: none;
  }
  
  .stratbutton{
    position: absolute;
    font-size: 20px;
    padding: 10px;
    margin: 80px;
    margin-top: -90px;
    color: white;
    border: none;
    background: #167AC6;
    
  
  }
  
  
  .images{
    float: right;
    margin-top: -200px;
  }

  .juntos{
    margin-top: -220px;
  }
  
  .firstcontent{
    display: flex;
  
  }
  
  .images2{
    float: right;
    margin-top: 10px;
  } 

  .images3{
    margin-left: -50px;
  }

  .allcontent{
    margin-top: -100px;
  }

  .divright{
    margin-top: 35px;
    color: #595757;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: 50%;
    margin-right: 30px;
    margin-top: -380px;
    
  }

  .h1right{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    margin-right: 400px;
    margin-top: -450px;

  }